body{
  background:url('./covid.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.cusform
{
  /* margin-left: 500px; */
  width: 500px;background:#48435C;
  margin-left:510px !important;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
  color:#61E786;
  font-size: 20px;
}

.form-control
{
  margin:5px
}

button
{
  margin-top:5px !important;
}

.boxed{
  margin-top:180px !important;
}

a{
  color:#61E786;
}
